.loginTitle{
    font-size: 50px;
    align-items: center;
    justify-content: center;
}
.login{
    height:900px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:url("https://ckeditor.com/blog/is-coding-for-everyone/feature.png") ;
    background-size: cover;

    
}
.loginForm
{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    justify-content: center;

   
    
}
.loginForm>label{
    margin: 10px 0;
    
}
.loginInput{
padding: 15px;

background-color: white;
border: none;
}

.loginButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    color:white;
    border-radius: 10px;
    border: none;

}
.loginRegisterButton{
    position:absolute;
top:60px;
right: 20px;
background-color: lightcoral;
cursor: pointer;
border: none;
color: white;
border-radius: 10px;

}